---
import Layout from '~/layouts/PageLayout.astro';



const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
 <h1 class="text-black text-2xl text-center p-4">Ceník</h1>
</Layout>
